:root {
	--bg-dark: #0D011F;
	--bg-std: #0D011F;
	--bg-std-light: #100225;
	--bg-medium: #1a043b;
	--bg-medium-light: #290a58;
	--bg-light: #3A2656;
	--txt-gray: #4c646d;
	--txt-gray-light: #4c646d;
	--txt-std: #8cb5c5;
	--txt-light: #ACDDEA;
	--txt-head: #a58bf6;
	--txt-red: #e05c4c;
	--txt-white: #ceceee;
	--border-dark: #232225;
	--border-std: #3A2656;
	--field-bg: #22044e;
	--field-bg-light: #4b1e8b;
	--field-label: #a58bf6;
	--field-border: #3A2656;
	--button-std-bg: #1a043b;
	--button-std-txt: #ACDDEA;
	--table-head: #1a043b;
	--table-cell: #0D011F;
	--table-cell-alt: #1a043b;
	--table-border: #180437;
	--underlay-bg: rgba(0, 0, 8, 0.8);
	--button-gray-std: #c336e5;
	--button-purple-std: #c336e5;
	--highlight-blue: #2d2975;
	--highlight-green: #1c4a1e;
}



/*
Common
*/
html,
body.dotcms,
#detailFrame {
	background-color: var(--bg-std) !important;
	color: var(--txt-std) !important;
}

.ui-menuitem-text {
	color: var(--txt-std);
}

dot-iframe-porlet[class] {
	background-color: var(--bg-std);
}

html.hydrated body.dotcms {
	background-color: var(--bg-std) !important;
	color: var(--txt-std);
}

dot-iframe .loader__overlay {
	background-color: var(--bg-std) !important;
}

dot-iframe .loader__overlay dot-spinner>div {
	border-left-color: var(--txt-std);
}

.layout p-toolbar .ui-toolbar {
	background-color: var(--bg-std);
}

.layout p-toolbar .toolbar__sep {
	border-left: 1px solid var(--border-std);
}

.dot-icon-button dot-icon i {
	color: var(--txt-light) !important;
}

.dijitDialogUnderlay {
	background: var(--underlay-bg);
}

html.hydrated body.dotcms {}

body.dotcms #dotAjaxMainHangerDiv div[style] {
	background-color: var(--bg-std) !important;
}

.ng1.main-container {
	display: none !important;
}



/*
Scrollbar
*/
*::-webkit-scrollbar {
	width: 12px;
	background-color: var(--bg-dark);
}

*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(2, 2, 10, 0.3);
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 5, .3);
	background-color: var(--bg-medium-light);
}

*::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0.1);
}



/*
Sidebar
*/
.ui-toolbar-group-left {
	background-color: var(--bg-std);
}

.ui-toolbar-group-left .toolbar__logo-bg {
	background-color: var(--bg-std);
}

.ui-toolbar-group-left .toolbar__button-wrapper {
	background-color: var(--bg-std);
}

.ui-toolbar-group-right {
	background-color: var(--bg-std);
	color: var(--txt-std);
}

dot-main-nav {
	background-color: var(--bg-std);
}

.layout dot-main-nav .dot-nav-sub__collapsed {
	background-color: var(--bg-light);
}

.layout dot-main-nav dot-nav-icon i,
.layout dot-main-nav dot-nav-icon dot-icon i {
	color: var(--txt-light) !important;
}

.layout dot-main-nav .dot-nav__item-label,
.dot-nav-sub__link {
	color: var(--txt-light) !important;
}

.layout dot-main-nav .dot-nav__item-label,
.dot-nav-sub__link--active {
	color: var(--txt-light) !important;
}

iframe#detailFrame {
	background-color: var(--bg-std) !important;
}



/*
Site Browser
*/
a,
#trashLabel {
	color: var(--txt-head);
}

.listingTable thead#assetListHead th {
	background-color: var(--table-head);
	color: var(--txt-std);
}

.listingTable thead#assetListHead th a {
	color: var(--txt-head);
}


html.hydrated body.dotcms a.assetRef {
	color: var(--txt-std)
}

html.hydrated body.dotcms .listingTable td {
	border-color: var(--table-border);
}

html.hydrated body.dotcms .listingTable tr.contentRowRoller {
	background-color: var(--bg-light);
}

html.hydrated body.dotcms #assetTreeWrapper #TreeUL {
	background-color: var(--bg-std);
}

html.hydrated body.dotcms #assetTreeWrapper #TreeUL span {
	color: var(--txt-std);
}

html.hydrated body.dotcms #assetTreeWrapper #TreeUL div[style] {
	background-color: var(--bg-medium) !important;
	color: var(--txt-std) !important;
}

html.hydrated body.dotcms #assetTreeWrapper #TreeUL div[style] a {
	color: var(--txt-std) !important;
}

.contentRowSelected {
	background: var(--bg-medium);
}

.nameChangeText {
	background: var(--field-std);
	border: 2px solid var(--border-std);
	padding: 2px;
	color: var(--txt-std);
}



/* 
Back-end fields
*/
label {
	color: var(--field-label);
}

.dijitComboBox {
	background-color: var(--field-bg);
	color: var(--txt-std);
	border-color: var(--border-std);
}

.dijitComboBox .dijitArrowButton {
	background-color: var(--bg-medium);
	color: var(--txt-std);
	border-color: var(--border-std);
}

.dijitMenu {
	background-color: var(--bg-medium);
	color: var(--txt-std);
}

.dijitMenu .dijitMenuItemHover {
	background-color: var(--bg-light);
	color: var(--txt-light);
}

.dijitMenu .dijitMenuItemSelected {
	background-color: var(--bg-light);
	color: var(--txt-light);
}

.dijitTextBoxHover .dijitInputInner {
	color: var(--txt-light);
}

.dijitTextBoxFocused .dijitInputInner {
	background-color: var(--bg-light);
	color: var(--txt-light);
}

.dijitTextBox {
	background-color: var(--field-bg);
	color: var(--txt-light);
	border-color: var(--border-std);
}

.dijitButton {
	background-color: var(--button-std-bg);
	border-color: var(--border-std);
}


.dijitButtonDisabled {
	border-color: var(--border-dark);
	color: var(--txt-gray);
}

.dijitButtonDisabled .dijitButtonNode {
	color: var(--txt-gray);
}

.dijitButtonNode {
	background-color: var(--button-std-bg);
	color: var(--button-std-txt);
	border-color: var(--border-std);
}

.dijitButtonFlat.dijitButtonHover {
	background-color: var(--border-std);
}

.dijitCheckBox {
	background-color: var(--field-bg-light);
}

.dijitRadio {
	background-color: var(--field-bg-light);
}

.dijitTabListWrapper .dijitTabContent {
	background-color: var(--bg-std);
	color: var(--txt-light);
	border-color: var(--border-std);
}

.dijitTabListWrapper .dijitTabContent.dijitTabChecked {
	background-color: var(--bg-medium);
	color: var(--txt-light);
}

.ui-button[secondary] {
	background-color: var(--bg-medium);
}

.ui-button[secondary] .ui-button-text {
	color: var(--txt-light);
}

TABLE.dijitSelect {
	background-color: var(--field-bg);
	color: var(--txt-light);
	border-color: var(--border-std);
}

.context-menu {
	background: var(--bg-medium);
	border: 1px solid var(--border-std);
}

.context-menu a {
	color: var(--txt-std);
}

.context-menu__item:hover {
	background-color: var(--bg-light);
	color: var(--txt-std);
}

.context-menu .pop_divider {
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 1px solid var(--border-std);
}

select,
input {
	background-color: var(--field-bg);
	color: var(--txt-std);
	border-color: var(--field-border);
}

.dijitComboBox input {
	background-color: var(--field-bg);
}

.dijitRolesSelectTreeWrapper {
	background-color: var(--field-bg);
	border-color: var(--field-border);
}

.dijitTextBox {
	background-color: var(--field-bg);
	color: var(--txt-std);
	border: 1px solid var(--field-border) !important;
}

.content-edit-actions a:hover {
	background-color: var(--bg-light);
	color: var(--txt-light);
}

input.dijitReset {
	color: var(--txt-std);
}

#rel_Accordionsections_PrelateMenu {
	background-color: var(--field-bg) !important;
}

.selectMeRowInIframe {
	color: var(--txt-std);
}

.selectMeRowInIframe:hover {
	background-color: var(--bg-medium) !important;
}

.content-edit-actions {
	background-color: var(--bg-medium);
}

.form__label,
.form__field-variable b,
.form__field-variable span {
	color: var(--txt-std);
}

.ui-button[disabled] {
	background-color: var(--txt-gray);
	color: var(--txt-std);
}

.ui-chkbox .ui-chkbox-icon {
	background-color: var(--bg-light);
}

.ui-chkbox .ui-chkbox-box.ui-state-disabled {
	background-color: var(--txt-gray);
}

.ui-tabview .ui-tabview-selected {
	background-color: var(--bg-medium-light);
}

.license-manager textarea[style] {
	background-color: var(--field-bg) !important;
	border-color: var(--border-std);
}

.license-manager div[style*="border:1px solid silver"] {
	border-color: var(--border-std) !important;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) !important;
}



/*
Tasks
*/
html.hydrated body.dotcms .portlet-sidebar-wrapper {
	background-color: var(--bg-std);
	color: var(--txt-std);
}

#filterTasksFrm label {
	color: var(--field-label);
}

.listingTable th {
	background-color: var(--table-head);
	color: var(--txt-std);
	border-color: var(--table-border);
}

.listingTable thead#assetListHead th a {
	color: var(--txt-head);
}


.listingTable tr.alternate_1 {
	background-color: var(--table-cell);
	color: var(--txt-std);
}

.listingTable tr.alternate_2 {
	background-color: var(--table-cell-alt);
	color: var(--txt-std);
}

.listingTable tr.alternate_1 td {
	border-color: var(--border-std);
}

.listingTable tr.alternate_1:hover {
	background-color: var(--bg-light) !important;
	color: var(--txt-light);
}

.listingTable tr.alternate_2:hover {
	background-color: var(--bg-light) !important;
	color: var(--txt-light);
}

div[style*='background:#fafafa;'] {
	background-color: var(--bg-std) !important;
}

input[type="radio"] {
	background-color: var(--bg-medium);
}

.thumbnailDiv {
	border-color: var(--border-std)
}



/*
Content Search
*/
.advanced-search-button {
	background-color: var(--bg-light);
}

.listingTable .content-search__result-item a {
	color: var(--txt-std);
}



/*
Dialog
*/
.dijitDialog {
	background-color: var(--bg-std);
}

.dijitDialog .dijitDialogTitleBar {
	background-color: var(--bg-std);
	color: var(--txt-head);
}

.dijitDialog .dijitDialogPaneContent {
	background-color: var(--bg-std);
	color: var(--txt-head);
}

.sTypeTable {
	border-color: var(--border-std)
}

.sTypeHeader {
	background-color: var(--bg-medium);
	border: none;
}

.file-selector-tree__toolbar {
	background-color: var(--bg-medium);
}



/*
Notifications
*/
.toolbar-notifications {
	background-color: var(--bg-light);
	color: var(--txt-light);
}

.toolbar-notifications dot-custom-time {
	color: var(--txt-std);
}


.ui-button.ui-button-icon-only:not([disabled]) [class^=ui-button-icon] {
	color: var(--txt-light);
}

.ui-toast-message-content {
	color: var(--txt-light);
}


/*
Editor Dialog
*/
.dialog {
	background-color: var(--bg-medium) !important;
	bordeR: none;
}

.dialog__header {
	background-color: var(--bg-medium) !important;
	color: var(--txt-light);
}

.dijitTabListContainer-top,
.dijitTabListContainer-bottom {
	border-bottom: 1px solid var(--border-std);
}

.dijitContentPane .fieldName {
	color: var(--txt-light);
}

.dijitContentPane .required2 {
	color: var(--txt-red);
}

.content-edit__sidebar {
	background-color: var(--bg-std);
	border-left: 1px solid var(--border-std);
}

.content-edit-actions {
	border-color: var(--border-std);
}

.content-edit-actions a {
	background-color: var(--button-std-bg);
	color: var(--button-std-txt);
	border-color: var(--border-std);
}

.content-edit-workflow table tr {
	border-bottom: 1px dashed var(--border-std);
}


#listing-table,
.dojoxUploaderFileListTable,
.listingTable {
	border-bottom: 1px solid var(--border-std);
}

.ui-widget-content {
	background-color: var(--button-std-bg);
	color: var(--txt-light);
}

hr {
	background-color: var(--border-std);
}

.dijitHostFoldersTreeWrapper {
	background-color: var(--bg-medium);
	border-color: var(--border-std);
}

.dijitTreeExpando {
	filter: invert(1);
}

.dijitContentPane.portlet-sidebar-wrapper {
	background-color: var(--bg-medium);
	border-color: var(--border-std);
}

.related-content-form .portlet-main-wrapper {
	background-color: var(--bg-medium);
}

.listingTable.relateContent td {
	border-color: var(--border-std);
}



/*
PP
*/
.listingTable td[style="background: white"],
.listingTable td[bgcolor] {
	background-color: var(--bg-light) !important;
}

.listingTable td a {
	color: var(--txt-light);
}

.ui-selectbutton {
	background-color: var(--bg-std);
}

.ui-selectbutton .ui-state-default {
	color: var(--txt-light);
}

.ui-selectbutton .ui-state-active span {
	color: var(--txt-light) !important;
}



/* 
Toast 
*/
p-toast .ui-toast .ui-toast-message {
	background-color: var(--bg-medium);
}



/*
Users
*/
body.dotcms .dojoxGrid {
	background-color: var(--bg-std) !important;
}

body.dotcms .dojoxGrid .dojoxGridHeader {
	background-color: var(--table-head);
}

body.dotcms .dojoxGrid .dojoxGridMasterHeader .dojoxGridHeader .dojoxGridRowTable {
	border-bottom: 1px solid var(--table-border);
}

body.dotcms .dojoxGrid .dojoxGridMasterView .dojoxGridRow {
	background-color: var(--table-cell);
	border: 1px solid var(--border-std);
	border-left: none;
}

body.dotcms .dojoxGrid.dojoxGridRowOver .dojoxGridCell {
	color: var(--txt-light);
}

.view-roles__heading {
	background-color: var(--bg-medium);
	border: 1px solid var(--border-std);
}

.permissionsActions {
	background-color: var(--bg-medium);
	border: 1px solid var(--border-std);
}



/*
Permissions
*/
.permissions__bar-user-role {
	background-color: var(--bg-medium);
	border-color: var(--border-std);
}

.dijitAccordionTitleSelected {
	background-color: var(--bg-medium);
}

.dijitAccordionInnerContainerSelected .dijitAccordionTitleHover {
	background-color: var(--bg-medium);
}

.dijitAccordionTitle {
	background-color: var(--bg-std);
	border-color: var(--border-std);
}

.permissionWrapper {
	border-color: var(--border-std);
}



/*
Page Preview 
*/
.layout__main .dot-secondary-toolbar__main {
	background-color: var(--bg-std) !important;
	border-bottom: 1px solid var(--border-std) !important;
}

.layout__main dot-edit-page-nav {
	border-left: 1px solid var(--border-std);
}

.layout__main .dot-secondary-toolbar__main h2 {
	color: var(--txt-light);
}

.layout__main .dot-secondary-toolbar__main dot-api-link a {
	color: var(--txt-light);
}

.layout__main .dot-secondary-toolbar__lower {
	background-color: var(--bg-std) !important;
	color: var(--txt-light);
}

.layout__main .ui-inputswitch-slider:after {
	color: var(--button-gray-std) !important;
}

.layout__main .ui-inputswitch-slider:before {
	background-color: var(--txt-gray);
}

.layout__main .ui-inputswitch-checked .ui-inputswitch-slider:before {
	background-color: var(--button-purple-std);
}


.layout__main .dot-edit__page-wrapper {
	background-color: var(--bg-std);
}

.layout__main .edit-page-nav {
	background-color: var(--bg-std);
	color: var(--txt-light);
}

.layout__main .edit-page-nav__item {
	color: var(--txt-gray-light);
}

.layout__main .edit-page-nav__item:hover {
	background-color: var(--bg-medium);
}

.layout__main .edit-page-nav__item--disabled {
	color: var(--txt-gray-light);
}



/*
Template Designer
*/
#hd-template,
#ft-template {
	background-color: var(--bg-medium);
	border: 1px solid var(--border-std);
}

#resp-template h1 {
	color: var(--txt-std);
}

.yui-b-template {
	background-color: var(--bg-medium);
	border: 1px solid var(--border-std);
}

.titleContainerSpan {
	background-color: var(--bg-std);
	border: 1px solid var(--border-std);
}

/*
tinyMCE
*/
.mce-container.mce-panel {
	border: none;
}

.mce-container-body {
	background-color: var(--bg-medium);
}

.mce-btn {
	background-color: var(--bg-std);
}

.mce-btn button i {
	color: var(--txt-std);
}



/*
Calendar Drop Down
*/
.dijitCalendarMonthContainer {
	background-color: var(--bg-std);
}

.dijitCalendarPreviousMonth,
.dijitCalendarNextMonth {
	background-color: var(--bg-std);
}

.dijitCalendarCurrentMonth {
	background-color: var(--bg-medium);
}



/*
Rules
*/
.rules__engine-container {
	background-color: var(--bg-std);
}

.rules__engine-container cw-rule-engine {
	background-color: var(--bg-std);
}

.ui-inputtext {
	color: var(--txt-light);
}

.ui-inputtext.ui-state-filled {
	color: var(--txt-light);
}

.rules__engine-container .cw-rule {
	border-color: var(--border-std);
}

.rules__engine-container .cw-rule>.cw-header {
	background-color: var(--bg-medium);
	color: var(--txt-light);
}

.rules__engine-container .cw-saving .cw-rule-status-text {
	color: var(--txt-light)
}

.rules__engine-container .cw-rule .cw-btn-group .ui.basic {
	background-color: var(--button-purple-std);
}

.rules__engine-container .cw-rule .cw-btn-group .ui.basic i {
	color: var(--txt-white);
}

.rules__engine-container .cw-rule {
	background-color: var(--bg-medium);
}

.rules__engine-container .cw-condition-group-separator {
	background-color: var(--highlight-blue);
	color: var(--txt-light)
}

.rules__engine-container .cw-rule .cw-action-separator {
	background-color: var(--highlight-green);
	color: var(--txt-light)
}

.ui.basic.buttons .button {
	color: var(--txt-white) !important;
}

.ui-state-default {
	color: var(--txt-std);
}

.ui-inputtext:hover {
	color: var(--txt-light) !important;
}

.ui-dropdown-panel .ui-dropdown-item:hover {
	background-color: var(--bg-light);
	color: vaR(--txt-light);
}



/*
Content Types
*/
.layout__main dot-content-types {
	background-color: var(--bg-std) !important;
	color: var(--txt-std);
}

dot-content-types dot-action-header {
	background-color: var(--bg-std) !important;
}

dot-secondary-toolbar .content-type__title h4 {
	color: var(--txt-light) !important;
}

dot-content-types .action-header__global-search {
	background-color: var(--bg-std);
}

.ui-table-wrapper {
	background-color: var(--bg-std) !important;
	color: var(--txt-std);
}

.ui-menu .ui-menuitem-link {
	color: var(--txt-std);
}

.ui-menu .ui-menuitem-link:hover {
	background-color: var(--bg-light) !important;
	color: var(--txt-light);
}

.ui-table .ui-table-thead tr th {
	background-color: var(--bg-medium);
	color: var(--txt-light);
	border-bottom: 1px solid var(--border-std);
}

.ui-table .ui-table-tbody tr:hover {
	background-color: var(--bg-light) !important;
	color: var(--txt-light);
}

dot-content-types .dot-menu__list {
	background: var(--bg-medium) !important;
}

dot-content-types .dot-menu__list a {
	color: var(--txt-std) !important;
}

.ui-table .ui-table-tbody tr td {
	border-bottom: 1px solid var(--border-std);
}

.layout__main .ui-tabview-nav {
	background: var(--bg-medium) !important;
}

.ui-tabview .ui-tabview-nav li.ui-state-default a {
	color: var(--txt-std);
}

.ui-tabview .ui-tabview-nav li.ui-tabview-selected a {
	color: var(--txt-light);
}

.content-type__fields-main {
	background: var(--bg-std) !important;
}

dot-content-type-fields-row {
	background: var(--bg-medium) !important;
}

dot-content-type-fields-row .row-columns {
	background: var(--bg-std) !important;
}

dot-content-type-field-dragabble-item {
	background: var(--bg-medium) !important;
}

.ui-paginator-element.ui-state-disabled {
	background-color: var(--txt-gray);
}

.ui-inputtext.ui-state-default::placeholder {
	color: var(--txt-std);
}

dot-content-types-edit[class] .dot-add-rows-columns-list__container {
	background: var(--bg-medium);
}

dot-content-types-edit[class] .dot-add-rows-columns-list__item {
	background: var(--bg-std);
}

dot-content-types-edit[class] .dot-add-rows-columns-list__item.active {
	background: var(--bg-medium-light);
}

dot-content-types-edit[class] .dot-add-rows-columns-list__item.active span[class] {
	color: var(--txt-light);
}

dot-content-types-edit[class] .dot-add-rows-columns-list__item.active span[class] {
	color: var(--txt-light);
}

dot-content-types-edit[class] .ui-buttonset span {
	color: var(--txt-light) !important;
}

dot-content-types-edit[class] .content-type__fields-sidebar p-splitbutton:hover {
	background: var(--bg-medium-light);
}

dot-content-types-edit[class] .content-types-fields-list__item:hover {
	background: var(--bg-medium-light);
}

dot-content-types-edit[class] .row-columns__item.empty {
	background: var(--bg-dark);
}

dot-content-types-edit[class] .dot-key-value-table-input-row:hover {
	background: var(--bg-medium-light);
	border-bottom-color: var(--border-std);
}


dot-action-menu-button[class] .dot-menu-item:hover {
	background: var(--bg-medium-light);
}


/*
Categories
*/
.dojoxGrid .dojoxGridPaginator {
	background-color: var(--bg-medium);
	color: var(--txt-std);
}

.dojoxGridActived {
	color: var(--txt-std);
}

.dojoxGrid .dojoxGridMasterView .dojoxGridRow.dojoxGridRowOver .dojoxGridCell {
	background-color: var(--bg-medium);
	color: var(--txt-light);
}



/* Network */
.actionTable tr.active {
	background-color: var(--bg-medium);
}

.network-action {
	background-color: var(--bg-medium);
	border: 1px solid var(--border-std);
}

img[src="/html/images/icons/processing.gif"] {
	filter: invert(1);
}



/*
Index State
*/
body.dotcms .trIdxBuilding {
	background-color: var(--highlight-green);
}

body.dotcms .trIdxActive {
	background-color: var(--highlight-green);
}

body.dotcms .trIdxNothing {
	background-color: var(--bg-medium);
}



/*
Login
*/
body[style] dot-root .login {
	background-color: var(--bg-std);
	color: var(--txt-std);
}

body[style] dot-root .login label {
	color: var(--txt-std);
}