/* 
Default Background:
background-color: #3a3847;

Darker Background:
background-color: #312f3c;

Lighter Background:
background-color: #434152;

Selected:
background-color: #85279c;

Selected Darker:
background-color: #5e1a6f;

Border:
border-color: #938eb5;

*/

body dot-root .loading-wrapper {
    background-color: #3a3847;
}


div body:not(#tinymce) {
    background-color: #3a3847;
}

.layout__main, [_nghost-c31], [_nghost-c34] {
    background-color: #3a3847;
    color: #ccc;
}

.layout__main > * {
    background-color: #3a3847;
    color: #ccc;
}


p-toolbar[_ngcontent-c5] .ui-toolbar,
p-toolbar[_ngcontent-c9] .ui-toolbar, 
.ui-widget-header {
    background-color: #3a3847;
    color: #ccc;
}

/* Login */
div[class="login"] {
    background-color: #434152 !important;
}

a[actionlink], .ui-chkbox-label, [dotmdinputtext].md-inputtext label {
    color: #938eb5;
}

h3.login__title {
    color: #938eb5;
}

/* Scrollbar */

*::-webkit-scrollbar {
    width: 12px;
    background-color: #3a3847;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(10, 10, 10, 0.3);
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
    background-color: #312f3c;
}

*::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.1);
}


/* Structure */
dot-content-types .ui-table .ui-table-wrapper  {
    background-color: #3a3847;
    color: #ccc;
}

dot-content-types, dot-listing-data-table {
    background-color: #3a3847;
}

dot-root dot-listing-data-table {
    background-color: #3a3847;
}

dot-root .action-header {
    background-color: #3a3847;
}

dot-root .action-header__container > .action-header__global-search {
    background-color: #3a3847;
}

dot-root .ui-datatable-tablewrapper .ui-datatable-thead th {
	background-color: #434152;
}

dot-root .ui-datatable-tablewrapper .ui-datatable-data tr:nth-child(odd) {
    background-color: #312f3c;
}

dot-root .ui-datatable-tablewrapper .ui-datatable-data tr:nth-child(even) {
    background-color: #3a3847;
}

dot-root .ui-datatable-tablewrapper .ui-datatable-data td {
    color: #ccc;
    border-color: #938eb5 !important;
}

dot-root .ui-table .ui-table-tbody tr td {
    color: #ccc;
    border-color: #938eb5 !important;
}

dot-root .ui-paginator {
    background-color: #3a3847;
}

dot-content-type-layout .ui-widget-content {
    background-color: #3a3847;
    color: #ccc;
}

dot-content-type-layout .ui-tabview .ui-tabview-nav .ui-tabview-title {
    color: #ccc;
}

.ui-tabview .ui-tabview-nav li.ui-tabview-selected span {
    color: #af9aef;
}

.layout__main dot-api-link a {
    color: #7c66c1;
    border-color: #7c66c1;
}

dot-content-type-layout div#content-type-form-main.content-type__fields-main {
    background-color: #3a3847;
    color: #ccc;
}

dot-content-type-layout div#content-type-form-main.content-type__fields-main .content-type__edit-title h4 {
    color: #ccc;
}

dot-content-type-layout div#content-type-form-main.content-type__fields-main .content-type__edit-variable {
    color: #ccc;
}

dot-content-type-layout dot-content-type-fields-drop-zone .content-type-fields-drop-zone__container {
    background-color: #3a3847 !important;
}

dot-content-type-layout dot-content-type-fields-drop-zone dot-content-type-field-dragabble-item i.fa.field__icon,
dot-content-type-layout dot-content-type-fields-drop-zone dot-content-type-field-dragabble-item .field__properties .field__name {
    color: #ccc;
}

dot-content-types-edit .ui-dialog .form__label {
    color: #ccc;
}

dot-content-type-layout .content-type__fields-sidebar .content-type__fields-sidebar-title {
    background-color: #434152 !important;
    color: #ccc !important;
}

dot-content-type-layout dot-content-type-fields-drop-zone .content-type-fields-drop-zone__container .field__actions {
    opacity: 0.75;
}

dot-content-type-layout .ui-button.ui-button-icon-only:not([disabled]) [class^=ui-button-icon] {
    color: #9982e2;
}

.dijitTreeRow.dijitTreeRowSelected {
    background-color: #434152 !important;
}

.dijitTreeLabel[aria-selected="true"] {
    color: #fff;
}

dot-content-types .ui-table .ui-table-tbody tr:hover {
    background-color: #434152 !important;
}

.content-type-fields-drop-zone dot-content-type-fields-row {
    background-color: #312f3c !important;
}

.content-type-fields-drop-zone dot-content-type-fields-row .row-columns {
    background-color: #312f3c !important;
}

.content-type-fields-drop-zone dot-content-type-fields-row dot-content-type-field-dragabble-item {
    background-color: #3a3847 !important;
}

.content-type-fields-drop-zone dot-content-type-fields-row dot-content-type-field-dragabble-item:hover {
    background-color: #434152 !important;
}

.form__field-variable {
    color: #ccc !important;
}

.ui-menuitem-text {
    color: #af9aef;
}

.ui-menu .ui-menuitem-link:hover {
    background-color: #5e1a6f;
}

.dot-add-rows-columns-list__container {
    background-color: #434152 !important;
}

.dot-add-rows-columns-list__item {
    background-color: #312f3c !important;
}

.row-columns .row-columns__item {
    background-color: #434152 !important;
}

.row-columns .row-columns__item::after {
    color: #acacac;
}

/* Content Editor */

.form__group label.form__label {
    color: #ccc !important;
}

.site-selector__field span {
    color: #ccc !important;
}

body.dotcms .content-edit__form .fieldName > span:last-child:not(.dijitTooltipData) {
    display: inline-block;
    padding-top: 1.5rem;
    padding-left: 0;
}

body.dotcms .content-edit__sidebar {
    background-color: #312f3c;
    border-color: #938eb5;
}

body.dotcms .content-edit-actions {
    border-color: #938eb5;
}

body.dotcms #contentletActionsHanger .content-edit-actions,
body.dotcms .content-edit-actions #contentletActionsHanger {
    border-color: #938eb5;
}

body.dotcms #contentletActionsHanger .content-edit-actions a,
body.dotcms .content-edit-actions #contentletActionsHanger a {
    background-color: #312f3c;
    border-color: #938eb5;
    color: #9982e2;
}

dot-root .dialog__header[style*='background-color: rgb(241, 243, 244);'] {
    background-color: #312f3c !important;
}

body.dotcms .fieldName {
    color: #acacac;
}

body.dotcms .fieldName .required2 {
    color: #dc4a38;
}

.fieldWrapper .hintIcon {
    display: none;
}

body.dotcms .content-edit__form span [dojotype="dijit.Tooltip"] {
    position: absolute;
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: flex-end;
    top: -11px;
    left: -20px;
    width: 24rem !important;
    margin-left: 1.5rem;
    opacity: 0.66;
}

body.dotcms .content-edit__form span [dojotype="dijit.Tooltip"] .contentHint {
    color: #acacac;
    font-size: 11px;
}

body.dotcms .selectMeRowInIframe:hover {
    background-color: #434152;
}

body.dotcms #relationshipReturnValueButton {
    background-color: #312f3c;
    border-color: #938eb5;
    color: #9982e2;
}

body.dotcms #relationshipReturnValueButton a {
    background-color: #312f3c;
    color: #9982e2;
}


/* Main/Site Browser */

dot-root p-toolbar[_ngcontent-c4] .ui-toolbar {
    background-color: #3a3847;
    color: #ccc;
}
body.dotcms .ui-button[disabled] {
    background: rgba(51, 51, 51, .6);
}
body.dotcms .ui-button[disabled] [class^=ui-button-icon] {
    color: rgba(180, 180, 180, 0.26);
}

dot-root dot-edit-page-toolbar .ui-button[disabled][secondary] {
    color: rgba(180, 180, 180, 0.26) !important;
}

dot-edit-page-toolbar .ui-button[disabled][secondary] [class^=ui-button-icon] {
     color: rgba(180, 180, 180, 0.26);
}

body.dotcms .layout__content dot-iframe-porlet {
    background-color: #312f3c;
}
body.dotcms body.dotcms[style] {
    background-color: #312f3c !important;
    color: #ccc;
}

.layout__main iframe:not(.dot-edit__iframe),
.layout__main [_nghost-c22],
.layout__main dot-loading-indicator,
dot-iframe[_ngcontent-c22],
.loader__overlay,
body.dotcms[style] {
    background-color: #312f3c !important;
}
body.dotcms .portlet-sidebar-wrapper {
    background-color: #3a3847;
    border-color: #938eb5;
}
body.dotcms a {
    color: #b672f3;
}
body.dotcms #assetTreeWrapper #TreeUL {
    color: #ccc;
}

body.dotcms #assetTreeWrapper #TreeUL > li[id*="TreeLI"]:nth-child(1) {
    border-bottom: 6px solid #312f3c;
}

body.dotcms #assetTreeWrapper #TreeUL li[id*="TreeLI"] div[style] {
    background-color: #434152 !important;
}
body.dotcms #assetTreeWrapper #TreeUL li[id*="TreeLI"] div[style] a {
    color: #ccc;
}
body.dotcms #assetTreeWrapper #TreeUL li[id*="TreeLI"] ul[id*="TreeChildrenUL"] {
    background-color: #312f3c;
    color: #ccc;
}
body.dotcms #assetTreeWrapper #TreeUL li[id*="TreeLI"] ul[id*="TreeChildrenUL"] a {
    color: #ccc;
}
body.dotcms .dijitSplitter {
    background-color: #434152;
}

body.dotcms .portlet-main,
body.dotcms .dijitContentPane,
body.dotcms .portlet-wrapper {
    background-color: #312f3c !important;
    color: #ccc;
}
body.dotcms .listingTable th {
    background-color: #434152;
    border-color: #938eb5;
}
body.dotcms .listingTable td {
    border-color: #938eb5;
}
body.dotcms .listingTable .contentRowSelected {
    background-color: #85279c !important;
}
body.dotcms .listingTable .contentRowRoller {
    background-color: #5e1a6f !important;
}
body.dotcms .listingTable tr.alternate_1 {
    background-color: #312f3c;
}
body.dotcms .listingTable tr.alternate_2 {
    background-color: #3a3847;
}
body.dotcms .listingTable td a {
    color: #ccc;
}
/* Calendar */

body.dotcms #calendarNavigation .listingTable {
    background-color: #434152;
}

/* Dialog */
dot-iframe-dialog .ui-dialog.ui-widget-content {
    background-color: #312f3c;
}

dot-iframe .ui-dialog-titlebar {
     background-color: #434152;
}

dot-root dot-iframe-dialog .dialog .ui-dialog div.ui-dialog-titlebar.ui-widget-header {
    background-color: #434152;
    border-color: #938eb5;
    color: #ccc;
}

dot-root dot-iframe-dialog .ui-dialog .ui-dialog-title {
    color: #ccc;
}

dot-root .ui-dialog .ui-dialog-titlebar-close {
    color: #ccc;
}

dot-root .ui-dialog-content {
    color: #ccc;
}

dot-root .fieldWrapper span {
    color: #bbb;
}


dot-root .fieldWrapper span.required2 {
    color: #e2402c;
}

.dialog__header, .dialog__content, .dialog__footer {
    background-color: #3a3847 !important;
}

dot-root .ui-dialog-content, dot-root .ui-dialog-footer {
    background-color: #3a3847 !important;
}


/* Categories */
body.dotcms .dojoxGrid {
    background-color: #3a3847 !important;
}

body.dotcms .dojoxGrid .dojoxGridMasterView .dojoxGridRow {
    background-color: #312f3c;
}

.dojoxGrid .dojoxGridMasterView .dojoxGridRow {
    border: none !important;
    background-color: #312f3c;
}

body.dotcms .dojoxGrid .dojoxGridMasterHeader .dojoxGridHeader {
    background-color: #434152 !important;
}

body.dotcms .dojoxGrid .dojoxGridMasterHeader .dojoxGridHeader tr,
body.dotcms .dojoxGrid .dojoxGridMasterHeader .dojoxGridHeader th {
	border-color: #938eb5 !important;
}


body.dotcms .dojoxGrid .dojoxGridRow .dojoxGridRowTable td.dojoxGridCell {
	background-color: #312f3c;
}

body.dotcms .dojoxGrid .dojoxGridRow.dojoxGridRowOver .dojoxGridCell {
    color: #ccc;
}

body.dotcms .dojoxGridPaginator {
    background-color: #3a3847;
}

body.dotcms .dojoxGrid .dojoxGridMasterHeader .dojoxGridRowTable {
   border-color: #938eb5;
}

/* Fields */

dot-root input::placeholder {
	color: #ccc !important;
}

dot-root #field-default-state, .ui-state-default {
    color: #ccc !important;
}

body.dotcms input, textarea, select {
	background-color: #312f3c;
    color: #ccc;
}

body.dotcms .dijitTextBox, .dijitTextArea, select {
	background-color: #312f3c;
    border-color: #938eb5;
    color: #ccc;
}

body.dotcms .dijitTextBox.dijitTextBoxHover .dijitInputInner, .dijitTextArea, select {
    color: #ccc;
}

body.dotcms .dijitTextBoxFocused .dijitInputInner {
    color: #ccc;
}

body.dotcms .dijitMenu {
    background-color: #312f3c;
}

body.dotcms .dijitComboBox .dijitArrowButton {
    background-color: #312f3c;
    border-color: #938eb5;
}

body.dotcms .dijitComboBoxMenuPopup .dijitMenuItem {
    background-color: #312f3c;
    color: #ccc;
    border-color: #938eb5;
}

body.dotcms .dijitMenuItem.dijitMenuItemHover {
    background-color: #85279c;
    color: white;
}

body.dotcms .dijitButton {
    background-color: #312f3c;
	color: #9982e2;
}

body.dotcms .dijitComboButton .dijitArrowButton {
    background-color: #312f3c;
    border-color: #938eb5;
    color: #9982e2;
}

body.dotcms .dijitComboButton {
    background-color: #312f3c;
    border-color: #938eb5;
    color: #9982e2;
}

body.dotcms .dijitMenu .dijitMenuItem {
    color: #ccc;
}

body.dotcms .dijitMenu .dijitMenuItem.dijitMenuItemHover {
    background-color: #85279c;
    color: white;
}


.layout__main .ui-button[secondary] {
    background-color: #85279c;
}

.layout__main .ui-button[secondary] [class*=ui-button-icon].ui-clickable,
.layout__main .ui-button[secondary] .ui-button-text.ui-clickable {
    color: white;    
}

.layout__main .ui-radiobutton .ui-radiobutton-box.ui-state-disabled .ui-radiobutton-icon {
    color: #c336e5 !important;
}


/* Page Editor */
dot-edit-page-main dot-edit-content {
    background-color: #3a3847 !important;
}

dot-edit-page-main dot-edit-content .ui-toolbar {
    background-color: #3a3847;
}

dot-edit-page-main .page-info__title {
    color: #ccc !important;
}

dot-edit-page-main .ui-selectbutton {
    background-color: #3a3847 !important;
    color: #9982e2;
}

dot-edit-page-main .ui-selectbutton .ui-button-text {
    color: #9982e2 !important;
}

dot-edit-page-nav {
    background-color: #3a3847 !important;
}

dot-edit-page-nav .edit-page-nav__item {
    color: #ccc !important;
}


/* Template Editor */
body.dotcms .titleContainerSpan {
    background-color: #312f3c;
}

body.dotcms .yui-b-template {
    background-color: #090e17;
}

body.dotcms .yui-u-template {
    background-color: #090e17;
}

body.dotcms #hd-template, body.dotcms #ft-template {
    background-color: #090e17;
}


/* Misc */
body.dotcms .view-roles__heading {
    background-color: #434152;
    border-color: #938eb5;
}

body.dotcms .trIdxBuilding {
    background-color: #675747;
}

body.dotcms .trIdxActive {
    background-color: #394e32;
}

body.dotcms .trIdxNothing {
    background-color: #312f3c;
}

body.dotcms .dijitDialog {
    background-color: #312f3c;
    color: #ccc;
}

body.dotcms .dijitDialogTitleBar {
    background-color: #434152;
    color: #ccc;
}

body.dotcms .dijitHostFoldersTreeWrapper {
    background-color: #434152;
    color: #ccc;
}

body.dotcms .listingTable  tr.alternate_2:hover, body.dotcms .listingTable  tr.alternate_1:hover {
    background-color: #5e1a6f !important;
    color: white;
}

body.dotcms .context-menu {
    background-color: #312f3c;
}

body.dotcms .context-menu__item:hover {
    background-color: #85279c;
    color: white;   
}

body.dotcms .permissions__bar-user-role {
    background-color: #312f3c;
}

body.dotcms .permissionTable th {
    background-color: #434152;
}

body.dotcms .permissionTableTitle {
    background-color: #312f3c;
}

body.dotcms .permissionTable td {
    background-color: #312f3c;
}

.dijitTabContainer .dijitTabListWrapper .dijitTab {
    background-color: #312f3c;
    color: #bbb;
    border-color: #938eb5;
}

.dijitTabContainer .dijitTabListWrapper .dijitTab.dijitTabChecked {
    border-color: #bb30e1;
}

button:not([disabled]) .ui-button-icon-left {
    color: #af9aef;    
}

dot-root iframe.dot-edit__iframe body {
    background: none !important;
}

